@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  * {
    @apply border-border;
    /* @apply text-red-900; */
    /* @apply bg-white; */
  }

  body {
    @apply bg-background text-foreground;
  }

  .navbar {
    @apply flex w-4/5 justify-center p-4 bg-gray-400 shadow-xl shadow-black rounded-2xl border-2 border-gray-700;
  }

  .gradient-background {
    background-image: linear-gradient(to bottom, #e9e7fa, #f3f4f7 10%);

  }

  .homepagetext {
    text-shadow: 2px 2px 10px #96b97d;

    @apply text-7xl text-[#504555];
  }


  .node {
    @apply p-4 border-2 border-gray-200 rounded-md m-4 shadow-2xl rounded-xl bg-white;
  }

  .pod {
    @apply p-4 border-2 border-gray-200 rounded-md m-4 shadow-2xl rounded-xl bg-white;

  }

  .vcjob {
    @apply p-4 border-2 border-gray-200 rounded-md m-4 shadow-2xl rounded-xl bg-white;

  }

  .test {
    @apply bg-red-500
  }

  .my-input:hover {
    @apply border-gray-500
  }

  .my-input:focus {
    @apply border-blue-500
  }

  .my-button {
    @apply shadow-xl
  }

  .my-buttom:hover {}

  .scroll-text {
    overflow: hidden
      /* width: 200px; */
      /* white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box; */
  }

  .scroll-text:hover {
    overflow: scroll;
  }

}